<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Relatórios</li>
        </ol>
        <hr />
    </nav>

    <h1 class="display-5 text-center text-md-start">Relatórios</h1>
    <p class="card-text text-muted text-center text-md-start">Selecione o relatório para emissão.</p>

    <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Relatórios</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td>
                    <i class="bi bi-box mx-2"></i>
                    Pedidos por cliente
                 </td>
                <td>
                    <a asp-controller="Report" asp-action="Orders" class="btn btn-sm btn-secondary">
                        Ir para emissão
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="bi bi-currency-dollar"></i>
                    Produtos mais vendidos
                </td>
                <td>
                    <a asp-controller="Report" asp-action="Product" class="btn btn-sm btn-secondary">
                       Emitir
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="bi bi-people"></i>
                    Cliente que compram acima de 1000 R$
                </td>
                <td>
                    <a asp-controller="Report" asp-action="Customer" class="btn btn-sm btn-secondary">
                        Emitir
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
