<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Report" asp-action="Index">Relatórios</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Produtos</li>
        </ol>
        <hr />
    </nav>

    <h1 class="display-5 text-center text-md-start">Relatório de Produtos</h1>
    <p class="card-text text-muted text-center text-md-start">Gere seu relatório de produtos.</p>
</div>
