<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
        <hr />
    </nav>
	

    <h1 class="display-5 text-center text-md-start">Dashboard</h1>
    <p class="card-text text-muted text-center text-md-start">Tenha uma visão clara da sua operação.</p>
</div>
